.Navigation-container {
  padding: 20px;
  color: white;
  text-align: center;
}

.Navigation-container h2 {
  margin: 5px;
}

.Navigation-container h4 {
  margin: 10px;
}

.Navigation-logo {
  animation: Navigation-logo-spin infinite 20s linear;
  height: 80px;
}

@keyframes Navigation-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
